body {
	background-color: #eee;
}

.navbar {
	padding-top: 18px;
	padding-bottom: 24px;
}

h4 {
	margin-top: 32px;
	margin-bottom: 18px;
	margin-left: 10px;
}

h6 {
	margin-left: 10px;
	line-height: 1.50;
}

#video-sample {
	margin-left: 10px;
	margin-bottom: 30px;
}